.clients {
  background-color: $primary-color;
  &__item {
    background-color: $primary-color;

    flex-basis: calc(100% / 2 - #{$gap});

    @media screen and(min-width:768px) {
      flex-basis: calc(100% / 3 - #{$gap});
    }

    @media screen and(min-width:1200px) {
      flex-basis: calc(100% / 6 - #{$gap});
    }
  }
}

.clients__link {
  @include centerFlex();
  height: 92px;
  border: 1px solid $primary-color-icons;
  border-radius: 4px;
  transition: border $transition-cubic,
    transform 850ms cubic-bezier(0.4, 0, 0.2, 1);
  /* "ЭКСПЕРИМЕНТ! */
  &:hover,
  :focus {
    border: 1px solid $accent-color;
    transform: scale(1.1);
  }
  &:hover > .clients--icon,
  :focus > .clients--icon {
    fill: $accent-color;
  }
}

.clients--icon {
  fill: $primary-color-icons;
  transition: fill $transition-cubic;
}
