.container-fluid {
  margin-top: 60px;

  background-color: #2f303a;
  @include tablet() {
    margin-top: 80px;
  }

  @media screen and (max-height: 479px) {
    margin-top: 0;
  }
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  @include xpix(2) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-mobile@2x.jpg);
  }
}

// .hero__title {
//   max-width: 360px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 30px;

//   color: #ffffff;
//   @include font(42px, 26px, 900, 0.06em);
//   text-transform: uppercase;
// }

@media screen and (min-width: 576px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-tablet.jpg);

    @include xpix(2) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 992px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-desktop.jpg);

    @include xpix(2) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-desktop@2x.jpg);
    }
  }
}

@include desktop() {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero__title {
    max-width: 696px;
    @include font(60px, 44px, 900, 0.06em);
  }
}

// ==========================================================
.hero {
  background-color: rgba(47, 48, 58, 0.4);
  height: 400px;
  max-width: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 118px 15px;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-back/hero-back-mob-1x.jpg");

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-back/hero-back-mob-2x.jpg");
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-back/hero-back-tab-1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-back/hero-back-tab-2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-back/hero-back.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-back/hero-back-desk-2x.jpg");
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
