.footer {
  background-color: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  &__logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
  &--accent {
    color: $primary-color;
  }
  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 20px;
  }
}
.footer__centered {
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__container {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
    text-align: center;
    &:last-child {
      width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 70px;
    }
    &:last-child {
      margin-left: auto;
    }
  }
}
// ===============================================
.address {
  font-style: normal;
  &__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__item {
    margin-top: 0;
    margin-bottom: 9px;
  }
  &--city {
    color: $primary-color;
  }
  &--link:focus {
    color: #b6b6b6;
    transition: color $transition-cubic;
  }
  &--link:hover {
    color: #b6b6b6;
    transition: color $transition-cubic;
  }
}
// ==============================================

.footer .social-card__link {
  color: $primary-color;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-card__link:hover,
.footer .social-card__link:focus {
  background-color: $accent-color;
  transition: background-color $transition-cubic;
}
.social-card__icon {
  fill: currentColor;
}
// ==============================================

.subscribe__input {
  font-size: 16px;
  color: $primary-color;
  width: 450px;
  height: 50px;
  padding: 0 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: inherit;
  transition: border-color $transition-cubic;
  &:focus,
  &:hover {
    border-color: $accent-color;
  }
  &::placeholder {
    padding: 0;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (max-width: 1199px) {
    margin: 0 auto 20px;
  }
}

.subscribe__button {
  display: inline-flex;
  align-items: center;
  @extend %main-button;
}
.subscribe--icon {
  margin-left: 10px;
}
