.portfolio {
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-top: 80px;
  }
}

.pf-card {
  @media screen and(min-width:480px) {
    flex-basis: unset;
  }

  @media screen and(min-width:768px) {
    flex-basis: calc(100% / 2 - #{$gap});
  }

  @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 3 - #{$gap});
  }
}

.pf-card__link {
  display: flex;
  flex-direction: column;
  &:hover,
  &:focus {
    box-shadow: $shadow-card;
  }
  &:hover,
  &:focus {
    .pf-card__overlay {
      transform: translateY(0);
    }
  }
}

.pf-card__thumb {
  position: relative;
  overflow: hidden;
}
.pf-card__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  transform: translateY(100%);
  transition: transform $transition-cubic;
  display: flex;
  align-content: center;
  top: 0;
  left: 0;
}
.pf-card__info {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: $primary-color;
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.pf-card__wrapper {
  padding: 20px 24px;
  border: 1px solid $border-cardscolor;
}

.pf-card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $brand-color;
  margin-bottom: 4px;
}

.pf-card__pretitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
