.production-section {
  background-color: $primary-color;
  padding-top: 0;
  &__item {
    flex-basis: calc(100% / 3 - #{$gap});
    position: relative;
  }
  &__title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 27px 0px;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and(max-width:1199px) {
    display: none;
  }
}
