.team {
  background-color: $background-precolor;
}

.team__item {
  background: $primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  border-radius: 0px 0px 4px 4px;
}

.team__post,
.team__pre-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__pre-title {
  font-weight: 500;
  color: $brand-color;
  margin-bottom: 10px;
}

.team__wrapper {
  padding: 30px 32px;
}
