.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: $primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition-cubic, opacity $transition-cubic,
    visibility $transition-cubic;
  &__title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $brand-color;
    margin-bottom: 12px;
  }
}

// -------------КНОПКА ЗАКРЫТИЯ МОДАЛЬНОГО ОКНА-------------

.modal__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  padding: 6px;
  background-color: $primary-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform $transition-cubic, background-color $transition-cubic,
    color $transition-cubic, border $transition-cubic;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-color;
    border: black;
    transform: rotate(270deg);
  }
  &--iconclose {
    display: inline-block;
    fill: currentColor;
  }
}
