.social-card {
  display: flex;
  align-items: center;
}

.social-card__item:not(:last-child) {
  margin-right: 10px;
}

.social-card__link {
  display: flex;
  color: $primary-color-icons;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color $transition-cubic, background-color $transition-cubic;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-color;
  }
}

.social-card__link {
  .icon {
    fill: currentColor;
  }
}
