%main-button {
  background-color: $accent-color;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-color;
  border-radius: 4px;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  justify-content: center;
  transition: background-color $transition-cubic;
  &:hover,
  &:focus {
    background-color: $accent-precolor;
  }
}
