// --------------------VARS--------------------

$text-color: #757575;
$brand-color: #212121;
$accent-color: #2196f3;
$accent-precolor: #188ce8;
$primary-color: #ffffff;
$background-color: #2f303a;
$background-precolor: #f5f4fa;
$accent-topcolor: #000000;
$button-color: #e5e5e5;
$border-cardscolor: #eeeeee;
$primary-color-icons: #afb1b8;
$footer-color-link: rgba(255, 255, 255, 0.6);
$transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$gap: 30px;
$shadow-card: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$gradient-hero: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
